$gutter: 20px;

div {
  $width: 400px;
  width: $width - 2 * $gutter;
  padding: $gutter;
  height: $width / 2;
  background: #333 + #777;
}

// p {
//   // font-size: 10px + 10;
//   width: 400px - 40px;
//   padding: 20px;
// }

// %clearfix::after {
//   content: "";
//   display: table;
//   clear: both;
// }

// div {
//   @extend %clearfix;
// }

// section {
//   @extend %clearfix;
// }

@mixin title-large {
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin separador($color: pink, $largura: 100px) {
  &::after {
    content: "";
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

$cor-primaria: blue;
$font-primaria: monospace;

section {
  max-width: 600px;
  margin: 0 auto;
  @include border-box;
}

.modal {
  @include box-shadow(
    10px 10px 0 0 rgba(0, 0, 0, 0.5),
    15px 15px 0 0 rgba(0, 0, 0, 0.5),
    20px 20px 0 0 rgba(0, 0, 0, 0.5)
  );
  h1 {
    color: $cor-primaria;
    font-family: $font-primaria;
    @include title-large;
    @include separador(yellow, 400px);
    @include mobile {
      color: #84e;
      font-size: 2em;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.4;
    max-width: 400px;
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $cor-primaria;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-primaria;
  }
}

ul {
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: #fff;
      &:hover {
        background: pink;
      }
    }
  }
}
